/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap'); 

@font-face {
  font-family: 'Montserrat';
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Standards */
* {
  font-family: Montserrat;
}
body {
  background-image: linear-gradient(to top right, #f7c3b2 50%, #f0a48b);
  position: relative;
  width: 100%;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
}
.container-main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.font-standard {
  font-family: Montserrat;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.justify {
  text-align: justify;
}
/* end of standards */

/* Navigation Bar */

  .navbar-brand img{
    position: relative;
    top: 0px;
    left: 5px;
    width: 350px;
    height: 50px;
  }
  .navbar {
    color: white;
    position: fixed;
    opacity: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .nav-link{
    font-size: 1.2rem;
    font-weight: 900;
  }
  /* end of Navigation Bar */

  /* Index */
  .overall-container{
    /* Set the background image path */
    /* background-image: url('pics/building.jpg'); */

    /* Adjust the background size and position */
    background-size: cover;
    background-position: center center;

    /* Set the background to fixed for a parallax effect */
    background-attachment: fixed;

    /* Set a minimum height to ensure the image is always visible */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .landing{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
.landing img {
  height: 300px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.landing-text-container{
  padding-left: 30px;
}
.landing-text-container h1{
  text-shadow:  3px 3px 2px white;;
  color: #0053B5;
  font-family:'Montserrat';
  font-size: 4rem;
  font-weight: 900;
  text-align: justify;
}
.landing-text-container h2{
  text-align: justify;
  padding-right: 90px;
  color: #0053B5;
  font-family:'Montserrat';
  font-size: 1rem;
}
.landing-text-container button{
  border-radius: 10px;
  height: 50px;
  margin-left: 33%;
  background-color: #218cf0;
  color: white;
  box-shadow: 2px 2px 2px black;
  transition: 0.3s ease;
}
.landing-text-container button:hover{
  background-color: #f39a7c;
  color: white;
  box-shadow: inset 2px 2px 2px black;
}

  /* Products and Services TAB */
  .image-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  .serv-1 {
    border-radius: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 370px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #f39a7cab;
    overflow: hidden;
  }
  .serv-1:hover{
    background-color: #f39a7c;
    background-image: none;
  }
  .serv-1:hover .serv-header{
    background-color: transparent;
  }
  .serv-1:hover .serv-info{
    display: block;
    animation-name: rightToRight;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  @keyframes rightToRight{
    0%{
      margin-left: 200%;
    }
    100%{
      margin-left: 0%;
    }
  }
  .sbg-4{
    background-image: url(pics/4.jpg);
  }
  .sbg-5{
    background-image: url(pics/5.jpg);
  }
  .sbg-6{
    background-image: url(pics/6.jpg);
  }
  .serv-header{
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    color: white;
    transform: scale(0.9);
    z-index: 12;
    height: fit-content;
    width: 100%;
    height: 20%;
  }
  .serv-info{
    font-size: 15px;
    color: white;
    transform: scale(0.9);
    z-index: 12;
    min-width: 100%;
    display: none;
    margin-left: 200%;
  }

  /* End of Services */

  
  /* About Us */

  /* Contact */
  
  .contact h1 {
    font-weight: 800;
    text-align: center;
    margin: 50px;
  }
  .outer-container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }
  .contacts{
    display: flex;
    justify-content: space-evenly;
  }
  svg {
    padding-top: 20px;
  }
  .card{
    border-radius: 20px;
    width: 300px;
  }
  .card, .card-body, .card-title, .card-text, .btn {
    align-items: center;
  }
  /* .card-title{
    padding-left: 45px;
  }
  .card-text{
    padding-left: 10px;
  } */
  iframe {
    width: 100%;
    border-radius: 20px;
  }
  /* 
  .contact-container1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .contact h2 {
    font-weight: 100;
  }
  .contact-info {
    border-radius: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 380px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transition: all;
    cursor: pointer;
    background-color: #f39a7cab;
    overflow: hidden;
    color: initial;
    margin-bottom: 50px;
  }
  .contact-info:hover{
    background-color: #f39a7c;
    background-image: none;
    color: transparent;
  }
  .contact-header{
    font-weight: 800;
    letter-spacing: 3px;
    
  } 
  .contact-details{
    width: 100%;
    height: 80%;
    display: none;
    font-weight: 800;
    letter-spacing: 3px;
  }
  .contact-info:hover .contact-details{
    color: white;
    display: block;
    animation-name: rightToRight;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
  } */

  /* footer */

  .footer {
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f39a7c;
    padding: 20px;
    text-align: center;
  }   

  .footer p {
    padding-top: 15px;
  }

  @media screen and (max-width: 1000px) {
    .contacts{
      flex-direction: column;
      align-items: center; 
    }
    .card{
      margin-top: 15px;
    }
    .card-title{
      font-size: 20px;
    }
    .card-text{
      font-size: 15px;
    }
  }
  @media screen and (max-width: 1000px) {
    .contacts{
      font-size: 25px; 
    }
    .serv-1 p {
      font: 13px;
    }
    .image-container{
      display: flex;
      flex-direction: column;
    }
    .serv-1{
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 600px) {
    .serv-header{
      font-size: 20px; 
    }
    .serv-info {
      font: 11px;
    }
    .image-container{
      display: flex;
      flex-direction: column;
    }
    .serv-1{
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 400px) {
    .serv-header{
      font-size: 15px; 
    }
    .serv-info {
      font: 8px;
    }
    .image-container{
      display: flex;
      flex-direction: column;
    }
    .serv-1{
      margin-bottom: 50px;
    }
  }